###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
###< symfony/framework-bundle ###

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###> lexik/jwt-authentication-bundle ###
/config/jwt/
###< lexik/jwt-authentication-bundle ###